<form method="post" action="index.php?main=home" id="signin" class="form-inline" role="form">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="username" type="text" class="form-control" name="username" placeholder="Nutzername">
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" name="password" placeholder="Passwort">
    </div>
    <button type="submit" name="signin" class="btn btn-primary">Login</button>
</form>